$modal__overlay-background: rgba(0, 0, 0, 0.5);

$modal__container-background: #fff !default;
$modal__container-padding: 0;
$modal__container-max-width: 90%;
$modal__container-max-height: 100vh !default;
$modal__container-border-radius: 0 !default;

$modal__content-padding: rem(36) rem(30) rem(30);

$modal__title-margin: 0 !default;
