{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
	<nav class="silc-breadcrumb" aria-label="Breadcrumb">
		<ol class="silc-breadcrumb__list">
			{% for item in breadcrumb %}
				<li>
					{% if item.url %}
						<a href="{{ item.url }}">{{ item.text }}</a>
					{% else %}
						{{ item.text }}
					{% endif %}
				</li>
			{% endfor %}
		</ol>
	</nav>
{% endif %}
