<div class="page-heading outer-pad">
	<div class="silc-grid silc-grid--collapse">
		<div class="silc-grid__col silc-grid__col--12">
      <h1>My Arts Directory Profile</h1>
      <nav class="silc-breadcrumb" aria-label="Breadcrumb">
        <ol class="silc-breadcrumb__list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/profile" aria-current="page">My Arts Directory Profile</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
