<div>
	<figure class="iframe">
		<div class="iframe__media-wrapper">
			{{ content.field_work_video }}
		</div>
		<div class="work-details--description">{{ content.field_work_description }}</div>
	</figure>
</div>
