<div class="editor-widget text-content">
  <h2>Lorem Heading Ipsum Dolor</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae vero at eligendi laboriosam maiores nihil, neque consequatur ipsa, nemo eius inventore corrupti deserunt voluptatibus expedita id, reiciendis fugiat pariatur accusantium?</p>
  <p>Maxime eos suscipit repellendus voluptates atque consequatur odio nemo harum, beatae id dicta dolorem omnis dolore eius sequi doloribus possimus excepturi placeat maiores ratione repudiandae veniam? Saepe vitae natus voluptatem?</p>
</div>