

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700|Red+Hat+Text:400,400i,500,700&display=swap" rel="stylesheet">
        <link media="screen" rel="stylesheet" href="../../css/index.css">
        <title>MSAC Preview Layout</title>
        <script>
            document.documentElement.classList.add('js');
        </script>
        <style>
            body {
                padding: 20px;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="max-bound">
            <div id="arts-directory-root">
	<arts-directory />
	<noscript>Please enable Javascript to explore the arts across Maryland.</noscript>
</div>

        </div>
        <script src="../../js/index.js"></script>
        <link media="print" rel="stylesheet" href="../../css/print.css">
    </body>
</html>

