

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700|Red+Hat+Text:400,400i,500,700&display=swap" rel="stylesheet">
        <link media="screen" rel="stylesheet" href="../../css/index.css">
        <title>MSAC Preview Layout</title>
        <script>
            document.documentElement.classList.add('js');
        </script>
        <style>
            body {
                padding: 20px;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="max-bound">
            <aside class="aside">
      <h2 class="aside__heading">Aside Title</h2>
    <div class="aside__content">
          <div class="aside__section">
                <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nemo earum maiores aut atque, aliquid.</p>
        </div>
      </div>
          <div class="aside__section">
                  <h3 class="aside__section-heading">Aside subheading</h3>
                <div>
          <ul><li><a href="">Link 1</a></li><li><a href="">Link 2</a></li><li><a href="">Link 3</a></li></ul>
        </div>
      </div>
          <div class="aside__section">
                <div>
          <a href="" class="button">Aside Button Lorem</a>
        </div>
      </div>
      </div>
</aside>
        </div>
        <script src="../../js/index.js"></script>
        <link media="print" rel="stylesheet" href="../../css/print.css">
    </body>
</html>

