

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700|Red+Hat+Text:400,400i,500,700&display=swap" rel="stylesheet">
        <link media="screen" rel="stylesheet" href="../../css/index.css">
        <title>MSAC Preview Layout</title>
        <script>
            document.documentElement.classList.add('js');
        </script>
        <style>
            body {
                padding: 20px;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="max-bound">
            
<blockquote class="blockquote" cite="http://idfive.com">
    <div class="blockquote__quote">
        <p>Let's face it, the universe is messy. It is nonlinear, turbulent, and chaotic. It is dynamic. It spends its time in transient behavior on its way to somewhere else, not in mathematically neat equilibria. It self-organizes and evolves. It creates diversity, not uniformity. That's what makes the world interesting, that's what makes it beautiful, and that's what makes it work.</p>
    </div>
            <footer class="blockquote__footer">
            &mdash; <span class="blockquote__author">Donella H. Meadows</span>, <cite class="blockquote__source">Thinking in Systems: A Primer</cite>                            <div class="blockquote__portrait">
                    <img src="http://via.placeholder.com/300x300" alt="portrait of Donella H. Meadows">
                </div>
                    </footer>
    </blockquote>
        </div>
        <script src="../../js/index.js"></script>
        <link media="print" rel="stylesheet" href="../../css/print.css">
    </body>
</html>

