

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700|Red+Hat+Text:400,400i,500,700&display=swap" rel="stylesheet">
        <link media="screen" rel="stylesheet" href="../../css/index.css">
        <title>MSAC Preview Layout</title>
        <script>
            document.documentElement.classList.add('js');
        </script>
        <style>
            body {
                padding: 20px;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="max-bound">
            <div class="collapsible-text text-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam et expedita iure accusamus quam qui ea, praesentium nam odit possimus sequi? Distinctio ipsa nesciunt amet necessitatibus officiis corporis impedit reiciendis.</p><p>Eum, labore. Cum odio praesentium ullam delectus ipsa ratione, nobis architecto nisi facilis, labore magni illum. Delectus reprehenderit cum aut iusto non vel? Fuga accusamus consectetur perferendis eligendi rem hic.</p><p>In quisquam eligendi ut, dolorum totam ullam itaque labore ea commodi nihil libero illo voluptate dicta aut, sunt atque suscipit temporibus eaque molestiae delectus facere velit quod laboriosam? Vitae, hic.</p>
</div>
        </div>
        <script src="../../js/index.js"></script>
        <link media="print" rel="stylesheet" href="../../css/print.css">
    </body>
</html>

