

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700|Red+Hat+Text:400,400i,500,700&display=swap" rel="stylesheet">
        <link media="screen" rel="stylesheet" href="../../css/index.css">
        <title>MSAC Preview Layout</title>
        <script>
            document.documentElement.classList.add('js');
        </script>
        <style>
            body {
                padding: 20px;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="max-bound">
            <div class="program-contact">
  <div class="program-contact__top">
    <div class="program-contact__photo">
      <img src="https://via.placeholder.com/450x450" alt="Photo of John Doe">
    </div>
    <div class="program-contact__heading">Contact</div>
  </div>
  <div class="program-contact__content">
    <p class="program-contact__name">John Doe</p>
    <p class="program-contact__title">Executive Director</p>
    <ul class="program-contact__contact-methods">
              <li class="program-contact__contact-method">
          <span class="icon-circle">
            <svg class="mail-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12"><path d="M14 3.55c-.234.258-.5.485-.781.68a149.632 149.632 0 00-3.89 2.699c-.657.485-1.47 1.079-2.321 1.079h-.016c-.851 0-1.664-.594-2.32-1.08-1.274-.93-2.586-1.814-3.883-2.697A4.37 4.37 0 010 3.55V9.76c0 .688.563 1.251 1.25 1.251h11.5c.688 0 1.25-.563 1.25-1.251V3.55zm0-2.299A1.26 1.26 0 0012.75 0H1.25C.414 0 0 .657 0 1.423c0 .712.79 1.596 1.344 1.971 1.21.845 2.437 1.69 3.648 2.542.508.352 1.367 1.071 2 1.071h.016c.633 0 1.492-.72 2-1.071 1.21-.853 2.437-1.697 3.656-2.542C13.352 2.917 14 2.127 14 1.251z" fill="#FFF" fill-rule="evenodd"/></svg>
          </span>
          <a href="mailto:john.doe@test.com">john.doe@test.com</a>
        </li>
                    <li class="program-contact__contact-method">
          <span class="icon-circle">
            <svg class="phone-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M13.2 10.8C12 12 12 13.2 10.8 13.2S8.4 12 7.2 10.8C6 9.6 4.8 8.4 4.8 7.2 4.8 6 6 6 7.2 4.8S4.8 0 3.6 0C2.4 0 0 3.6 0 3.6c0 2.4 2.466 7.266 4.8 9.6C7.134 15.534 12 18 14.4 18c0 0 3.6-2.4 3.6-3.6 0-1.2-3.6-4.8-4.8-3.6z" fill="#FFF" fill-rule="nonzero"/></svg>
          </span>
          <a href="tel:123-456-7890">123-456-7890</a>
        </li>
          </ul>
  </div>
</div>
        </div>
        <script src="../../js/index.js"></script>
        <link media="print" rel="stylesheet" href="../../css/print.css">
    </body>
</html>

