

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700|Red+Hat+Text:400,400i,500,700&display=swap" rel="stylesheet">
        <link media="screen" rel="stylesheet" href="../../css/index.css">
        <title>MSAC Preview Layout</title>
        <script>
            document.documentElement.classList.add('js');
        </script>
        <style>
            body {
                padding: 20px;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="max-bound">
            <div class="share">
  <div class="share__title">Share this page</div>
  <div class="share__buttons">
    <div class="addthis_inline_share_toolbox"></div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b5fcd994a9bdcc1"></script>
  </div>
</div>
        </div>
        <script src="../../js/index.js"></script>
        <link media="print" rel="stylesheet" href="../../css/print.css">
    </body>
</html>

