

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link href="https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,700|Red+Hat+Text:400,400i,500,700&display=swap" rel="stylesheet">
        <link media="screen" rel="stylesheet" href="../../css/index.css">
        <title>MSAC Preview Layout</title>
        <script>
            document.documentElement.classList.add('js');
        </script>
        <style>
            body {
                padding: 20px;
            }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="max-bound">
            <table class="table table--theme-default table--stacked" data-tablesaw-mode="stack">
    <thead>
        <tr>
                            <th>Column One</th>
                            <th>Column Two</th>
                            <th>Column Three</th>
                            <th>Column Four</th>
                    </tr>
    </thead>
    <tbody>
                    <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                            </tr>
                    <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                            </tr>
                    <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                                    <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum explicabo placeat dicta, dolores ipsam eligendi nulla temporibus magni voluptate numquam labore suscipit illum culpa modi aperiam at doloremque beatae ipsa?</td>
                            </tr>
            </tbody>
</table>
        </div>
        <script src="../../js/index.js"></script>
        <link media="print" rel="stylesheet" href="../../css/print.css">
    </body>
</html>

