.feed-item {
  margin: rem(24) 0;
  @include media("1024") {
    margin: rem(32) 0;
  }
  @include media("1440") {
    margin-bottom: rem(40) 0 rem(48);
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.feed-item__cta {
  color: $dark-red;
  display: block;
  text-decoration: none;
  &:hover {
    color: $dark-red;
  }
}

.feed-item__title {
  font-family: $red-hat-display;
  font-size: rem(22);
  font-weight: 700;
  line-height: (30 / 22);
  margin: 0 0 rem(10);
}

.feed-item__location {
  display: block;
  font-family: $red-hat-display;
  font-size: rem(18);
  font-weight: 700;
  line-height: (26 / 18);
  letter-spacing: em(2.25, 18);
  margin: rem(14) 0 rem(10);
  text-transform: uppercase;
}

.feed-item__date-time,
.feed-item__description {
  font-size: rem(18);
}

.feed-item__description {
  margin: 0;
}
