<form class="webform-submission-form webform-submission-add-form webform-submission-kitchen-sink-form webform-submission-kitchen-sink-add-form js-webform-details-toggle webform-details-toggle" data-drupal-selector="webform-submission-kitchen-sink-add-form" enctype="multipart/form-data" action="/umdagnr/web/form/kitchen-sink" method="post" id="webform-submission-kitchen-sink-add-form" accept-charset="UTF-8" data-drupal-form-fields="edit-text-input,edit-text-input-with-placeholder,edit-textarea,edit-selection,edit-select-one-or-more-of-these-items-option-1,edit-select-one-or-more-of-these-items-option-2,edit-select-one-or-more-of-these-items-option-3,edit-select-one-of-these-items-option-1,edit-select-one-of-these-items-option-2,edit-select-one-of-these-items-option-3,edit-file-upload-upload,edit-file-upload-upload-button,edit-submit">
  <div class="js-form-item form-item form-type-textfield js-form-type-textfield form-item-text-input js-form-item-text-input">
    <label for="edit-text-input">Text Field Label</label>
    <input data-drupal-selector="edit-text-input" aria-describedby="edit-text-input--description" type="text" id="edit-text-input" name="text_input" value="" size="60" maxlength="255" placeholder="Hint text" class="form-text">
  </div>
  <div class="js-form-item form-item form-type-select js-form-type-select form-item-selection js-form-item-selection">
    <label for="edit-selection">Dropdown Label</label>
    <div class="select-wrapper">
      <select data-drupal-selector="edit-selection" id="edit-selection" name="selection" class="form-select">
        <option value="" selected="selected">- None -</option>
        <option value="Option 1">Option 1</option>
        <option value="Option 2">Option 2</option>
        <option value="Option 3">Option 3</option>
      </select>
    </div>
  </div>
  <div class="js-form-item form-item form-type-radio js-form-type-radio form-item-select-one-of-these-items js-form-item-select-one-of-these-items">
    <input data-drupal-selector="edit-select-one-of-these-items-option-1" type="radio" id="edit-select-one-of-these-items-option-1"
      name="select_one_of_these_items" value="Option 1" class="form-radio">
    <label for="edit-select-one-of-these-items-option-1" class="option">Option 1</label>
  </div>
  <div class="js-form-item form-item form-type-checkbox js-form-type-checkbox form-item-select-one-or-more-of-these-items-option-1 js-form-item-select-one-or-more-of-these-items-option-1">
    <input data-drupal-selector="edit-select-one-or-more-of-these-items-option-1" type="checkbox" id="edit-select-one-or-more-of-these-items-option-1" name="select_one_or_more_of_these_items[Option 1]" value="Option 1" class="form-checkbox">
    <label for="edit-select-one-or-more-of-these-items-option-1" class="option">Option 1</label>
  </div>
  <div class="js-form-item form-item form-type-textarea js-form-type-textarea form-item-textarea js-form-item-textarea">
    <label for="edit-textarea">Textarea Label</label>
    <div>
      <textarea data-drupal-selector="edit-textarea" id="edit-textarea" name="textarea" rows="5" cols="60" class="form-textarea" placeholder="Example text lorem ipsum…"></textarea>
    </div>
  </div>
  <input autocomplete="off" data-drupal-selector="form-lskiowduazqoxommg6ugp8edbeceh6vsxdsqybgnxdu" type="hidden" name="form_build_id" value="form-lsKiOWdUAZQOXoMmg6UGp8EDbECEH6vsXDSqYbGnxdU">
  <input data-drupal-selector="edit-webform-submission-kitchen-sink-add-form" type="hidden" name="form_id" value="webform_submission_kitchen_sink_add_form">
  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
    <input class="webform-button--submit button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Submit">
  </div>
</form>