{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_person_title|field_value %}
        <h2>{{ content.field_person_title|field_value}}</h2>
      {% endif %}
      <div class="program-contacts">
        {{ content|without('field_person_title') }}
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}