

<div class="silc-accordion" id="accordion-0" data-silc-accordion-animated>
			<div class="silc-accordion__section">
			<button id="accordion-0-section-1-label" class="silc-accordion__label" aria-controls="accordion-0-section-1-content">
				Accordion 1
				<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g></svg>
			</button>
			<div class="silc-accordion__content" id="accordion-0-section-1-content" aria-labelledby="accordion-0-section-1-label">
				<div class="silc-accordion__content-compartment text-content">
					<p>This is the content area of accordion 1</p>
				</div>
			</div>
		</div>
			<div class="silc-accordion__section">
			<button id="accordion-0-section-2-label" class="silc-accordion__label" aria-controls="accordion-0-section-2-content">
				Accordion 2
				<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g></svg>
			</button>
			<div class="silc-accordion__content" id="accordion-0-section-2-content" aria-labelledby="accordion-0-section-2-label">
				<div class="silc-accordion__content-compartment text-content">
					<p>This is the content area of accordion 2</p>
				</div>
			</div>
		</div>
	</div>


