

<div class="silc-accordion silc-accordion--tabs" id="accordion-tabs-0">
			<div class="silc-accordion__section">
			<button id="accordion-tabs-0-section-1-label" class="silc-accordion__label" aria-controls="accordion-tabs-0-section-1-content">
				Tab 1
			</button>
			<div class="silc-accordion__content" id="accordion-tabs-0-section-1-content" aria-labelledby="accordion-tabs-0-section-1-label">
				<div class="silc-accordion__content-compartment">
					<p>This is the content area of tab 1</p>
				</div>
			</div>
		</div>
			<div class="silc-accordion__section">
			<button id="accordion-tabs-0-section-2-label" class="silc-accordion__label" aria-controls="accordion-tabs-0-section-2-content">
				Tab 2
			</button>
			<div class="silc-accordion__content" id="accordion-tabs-0-section-2-content" aria-labelledby="accordion-tabs-0-section-2-label">
				<div class="silc-accordion__content-compartment">
					<p>This is the content area of tab 2</p>
				</div>
			</div>
		</div>
	</div>

