

<aside class="aside">
      <h2 class="aside__heading">Aside Title</h2>
    <div class="aside__content">
          <div class="aside__section">
                <div>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nemo earum maiores aut atque, aliquid.</p>
        </div>
      </div>
          <div class="aside__section">
                  <h3 class="aside__section-heading">Aside subheading</h3>
                <div>
          <ul><li><a href="">Link 1</a></li><li><a href="">Link 2</a></li><li><a href="">Link 3</a></li></ul>
        </div>
      </div>
          <div class="aside__section">
                <div>
          <a href="" class="button">Aside Button Lorem</a>
        </div>
      </div>
      </div>
</aside>
