

<div class="callout" style="background-image: url(https://via.placeholder.com/1920x1080);">
    <h2 class="callout__title">Lorem Ipsum</h2>
    <div class="callout__body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis consectetur ducimus illo, excepturi dolore nemo veritatis quisquam nulla libero obcaecati autem, architecto officiis? Eaque similique atque praesentium facere id fugiat.</p>
    </div>
            <a class="button callout__cta" href="https://idfive.com">Read More</a>
    </div>
