

<div class="card-group">
  <div class="silc-grid silc-grid--justify-center">
          <div class="silc-grid__col silc-grid__col--10-550 silc-grid__col--6-700 silc-grid__col--4-1200">
        <div class="card"  data-clickable="true" >
	<div class="card__media">
		<img src="http://via.placeholder.com/400x250/ddd/ddd?text=1" alt="">
	</div>
	<div class="card__content">
					<h2 class="card__title">Card 1 Title</h2>
							<div class="card__body"><p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p></div>
											<a href="https://idfive.com" class="card__cta button">Learn More</a>
						</div>
</div>
      </div>
          <div class="silc-grid__col silc-grid__col--10-550 silc-grid__col--6-700 silc-grid__col--4-1200">
        <div class="card"  data-clickable="true" >
	<div class="card__media">
		<img src="http://via.placeholder.com/400x250/ddd/ddd?text=2" alt="">
	</div>
	<div class="card__content">
					<h2 class="card__title">Card 2 Title</h2>
							<div class="card__body"><p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p></div>
											<a href="https://idfive.com" class="card__cta button">Learn More</a>
						</div>
</div>
      </div>
          <div class="silc-grid__col silc-grid__col--10-550 silc-grid__col--6-700 silc-grid__col--4-1200">
        <div class="card"  data-clickable="true" >
	<div class="card__media">
		<img src="http://via.placeholder.com/400x250/ddd/ddd?text=3" alt="">
	</div>
	<div class="card__content">
					<h2 class="card__title">Card 3 Title</h2>
							<div class="card__body"><p>Nullam quis risus eget urna mollis ornare vel eu leo. Aenean lacinia bibendum nulla sed consectetur.</p></div>
											<a href="https://idfive.com" class="card__cta button">Learn More</a>
						</div>
</div>
      </div>
      </div>
</div>
