

<div class="carousel-holder">
    <div class="carousel">
                    <div class="carousel__slide">
                <div class="carousel__slide-image">
                  <img src="http://via.placeholder.com/1000x600?text=1" alt="alt text lorem">
                </div>
                                    <div class="carousel__slide-content">
                                                <div class="text-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa sunt voluptate nobis! Dolor id facilis praesentium dignissimos! Fugit quis eveniet et iure explicabo. Aperiam, eligendi? Facere maiores veritatis natus.
                        </div>
                    </div>
                            </div>
                    <div class="carousel__slide">
                <div class="carousel__slide-image">
                  <img src="http://via.placeholder.com/1000x600?text=2" alt="alt text lorem">
                </div>
                                    <div class="carousel__slide-content">
                                                <div class="text-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa sunt voluptate nobis! Dolor id facilis praesentium dignissimos! Fugit quis eveniet et iure explicabo. Aperiam, eligendi? Facere maiores veritatis natus.
                        </div>
                    </div>
                            </div>
                    <div class="carousel__slide">
                <div class="carousel__slide-image">
                  <img src="http://via.placeholder.com/1000x600?text=3" alt="alt text lorem">
                </div>
                                    <div class="carousel__slide-content">
                                                <div class="text-content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam ipsa sunt voluptate nobis! Dolor id facilis praesentium dignissimos! Fugit quis eveniet et iure explicabo. Aperiam, eligendi? Facere maiores veritatis natus.
                        </div>
                    </div>
                            </div>
            </div>
    <div class="carousel__nav">
        <div class="carousel__nav-sizer"></div>
        <button class="button carousel__nav-previous" aria-label="Previous slide">
            <span class="visible-for-screen-readers">Previous slide</span>
        </button>
        <button class="button carousel__nav-next" aria-label="Next slide">
            <span class="visible-for-screen-readers">Next slide</span>
        </button>
    </div>
</div>
