

<div class="checkbox-dropdown-root">
    <checkbox-dropdown option-name="type">
        <div id="edit-field-artist-population-types" class="form-checkboxes">
            <div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-population-types-001 js-form-item-field-artist-population-types-001">
                <input data-drupal-selector="edit-field-artist-population-types-001" type="checkbox" id="edit-field-artist-population-types-001" name="field_artist_artistic_categories[001]" value="001" checked="checked" class="form-checkbox" tabindex="-1">
                <label for="edit-field-artist-population-types-001" class="option">Early Childhood (0-3 years old)</label>
            </div>
            <div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-population-types-002 js-form-item-field-artist-population-types-002">
                <input data-drupal-selector="edit-field-artist-population-types-002" type="checkbox" id="edit-field-artist-population-types-002" name="field_artist_artistic_categories[002]" value="002" class="form-checkbox" tabindex="-1">
                <label for="edit-field-artist-population-types-002" class="option">High School (9-12 grade)</label>
            </div>
            <div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-population-types-003 js-form-item-field-artist-population-types-003">
                <input data-drupal-selector="edit-field-artist-population-types-003" type="checkbox" id="edit-field-artist-population-types-003" name="field_artist_artistic_categories[003]" value="003" class="form-checkbox" tabindex="-1">
                <label for="edit-field-artist-population-types-003" class="option">People Experiencing Incarceration/Re-entry</label>
            </div>
            <div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-population-types-004 js-form-item-field-artist-population-types-004">
                <input data-drupal-selector="edit-field-artist-population-types-004" type="checkbox" id="edit-field-artist-population-types-004" name="field_artist_artistic_categories[004]" value="004" class="form-checkbox" tabindex="-1">
                <label for="edit-field-artist-population-types-004" class="option">People with Disabilities</label>
            </div>
            <div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-population-types-005 js-form-item-field-artist-population-types-005">
                <input data-drupal-selector="edit-field-artist-population-types-005" type="checkbox" id="edit-field-artist-population-types-005" name="field_artist_artistic_categories[005]" value="005" class="form-checkbox" tabindex="-1">
                <label for="edit-field-artist-population-types-005" class="option">Veterans/Military</label>
            </div>
        </div>
    </checkbox-dropdown>
</div>
