

<div class="page-heading" style="background-image:url(../../img/AD_Hero.png)">
    <div class="page-heading__title-wrap" style="background-image:url(../../img/AD_Hero.png)">
        <div class="page-heading__title-wrap-inner">
            <h1>Arts Directory</h1>
            <nav class="silc-breadcrumb" aria-label="Breadcrumb">
	<ol class="silc-breadcrumb__list">
					<li>
				<a href="http://idfive">Home</a>
			</li>
					<li>
				<a href="http://idfive">Programs</a>
			</li>
					<li>
				<a href="http://idfive">Explore Arts in Maryland</a>
			</li>
					<li>
				<a href="http://idfive" aria-current="page">Arts Directory</a>
			</li>
			</ol>
</nav>        </div>
    </div>
    <div class="silc-grid silc-grid--collapse silc-grid--justify-center">
        <div class="silc-grid__col silc-grid__col--10-800 silc-grid__col--8-1200">
            <div class="page-heading__content">
                <h2>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <h3 class="h5">For any questions, contact:</h3>
                <div>
                    <span class="icon-circle">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="12"
                            viewBox="0 0 14 12"
                        >
                            <path
                                d="M14 3.55c-.234.258-.5.485-.781.68a149.632 149.632 0 00-3.89 2.699c-.657.485-1.47 1.079-2.321 1.079h-.016c-.851 0-1.664-.594-2.32-1.08-1.274-.93-2.586-1.814-3.883-2.697A4.37 4.37 0 010 3.55V9.76c0 .688.563 1.251 1.25 1.251h11.5c.688 0 1.25-.563 1.25-1.251V3.55zm0-2.299A1.26 1.26 0 0012.75 0H1.25C.414 0 0 .657 0 1.423c0 .712.79 1.596 1.344 1.971 1.21.845 2.437 1.69 3.648 2.542.508.352 1.367 1.071 2 1.071h.016c.633 0 1.492-.72 2-1.071 1.21-.853 2.437-1.697 3.656-2.542C13.352 2.917 14 2.127 14 1.251z"
                                fill="#FFF"
                                fill-rule="evenodd"
                            />
                        </svg>
                    </span>
                    <a href="mailto:email@email.com">email@email.com</a>
                </div>
                <div class="page-heading__signup-cta">
                    <h3 class="h4">Be a part of the Maryland Arts Directory</h3>
                    <p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius</p>
                    <a href="" class="button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-content">
    <div id="arts-directory-root">
	<arts-directory />
	<noscript>Please enable Javascript to explore the arts across Maryland.</noscript>
</div>
</div>


<script>
    document.body.classList.add("path--directory");
    document.body.classList.add("has-hero");
</script>

