

<div class="hero">
<figure class="hero__media">
    <div class="hero__media-image">
        <img src="../../img/AC_Hero.png" alt="alt text lorem">
    </div>
        </figure>
    </div>
<div class="page-heading outer-pad">
	<div class="silc-grid silc-grid--collapse">
		<div class="silc-grid__col silc-grid__col--12">
			<h1>Arts Calendar</h1>
			<nav class="silc-breadcrumb" aria-label="Breadcrumb">
	<ol class="silc-breadcrumb__list">
					<li>
				<a href="http://idfive">Home</a>
			</li>
					<li>
				<a href="http://idfive">Explore Arts in Maryland</a>
			</li>
					<li>
				<a href="http://idfive" aria-current="page">Arts Calendar</a>
			</li>
			</ol>
</nav>		</div>
	</div>
</div>
<div class="page-content outer-pad">
	<div id="arts-calendar-root">
    <arts-calendar />
    <noscript>Please enable Javascript to view arts events across Maryland.</noscript>
</div></div>


<script>
	document.body.classList.add("path--calendar");
	document.body.classList.add("has-hero");
</script>

