

<ul class="feed-items">
      <li class="feed-item">
      <a class="feed-item__cta" href="https://idfive.com">
        <h3 class="feed-item__title">Event Title 1 Lorem Ipsum</h3>
                  <span class="feed-item__location">Baltimore</span>
                              </a>
    </li>
      <li class="feed-item">
      <a class="feed-item__cta" href="https://idfive.com">
        <h3 class="feed-item__title">Event Title 1 Lorem Ipsum</h3>
                  <span class="feed-item__location">Baltimore</span>
                              </a>
    </li>
      <li class="feed-item">
      <a class="feed-item__cta" href="https://idfive.com">
        <h3 class="feed-item__title">Event Title 1 Lorem Ipsum</h3>
                                  <div class="feed-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</div>
              </a>
    </li>
  </ul>
