

<div class="home-hero">
	<h1 class="home-hero__heading">Maryland <span>State Arts</span> Council</h1>
	<span class="home-hero__heading home-hero__heading--fade" aria-hidden="true">Maryland<br>
		State Arts<br>
		Council</span>
	<div class="home-hero__carousel">
		<div class="carousel carousel--fade">
			<div class="carousel__slide">
				<div class="carousel__slide-image">
					<img src="../../img/home-hero-carousel-1.jpg" alt="alt text lorem">
				</div>
				<div class="carousel__slide-content">
					<div>
						<span class="home-hero__carousel-slide-medium">Performing Arts</span>
						<span class="home-hero__carousel-slide-title">The Nutcracker</span>
						<span aria-hidden="true">&nbsp;|&nbsp;</span>
						<span class="home-hero__carousel-slide-location">Ballet Theatre of Maryland</span>
					</div>
				</div>
			</div>
			<div class="carousel__slide">
				<div class="carousel__slide-image">
					<img src="https://via.placeholder.com/1200x900?text=Slide%202" alt="alt text lorem">
				</div>
				<div class="carousel__slide-content">
					<div>
						<span class="home-hero__carousel-slide-medium">Performing Arts</span>
						<span class="home-hero__carousel-slide-title">Another Play</span>
						<span aria-hidden="true">&nbsp;|&nbsp;</span>
						<span class="home-hero__carousel-slide-location">Ballet Theatre of Maryland</span>
					</div>
				</div>
			</div>
			<div class="carousel__slide">
				<div class="carousel__slide-image">
					<img src="https://via.placeholder.com/1200x900?text=Slide%203" alt="alt text lorem">
				</div>
				<div class="carousel__slide-content">
					<div>
						<span class="home-hero__carousel-slide-medium">Performing Arts</span>
						<span class="home-hero__carousel-slide-title">A Third Play With a Longer Title</span>
						<span aria-hidden="true">&nbsp;|&nbsp;</span>
						<span class="home-hero__carousel-slide-location">Ballet Theatre of Maryland</span>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel__nav">
			<div class="carousel__nav-sizer"></div>
			<button class="carousel__nav-previous" aria-label="Previous" tabindex="0">
				<svg aria-hidden="true" class="icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 21"><path d="M3.297 0L14 10.5 3.297 21 0 17.766 7.407 10.5 0 3.234z" fill="#FFF" fill-rule="evenodd"/></svg>
			</button>
			<button class="carousel__nav-next" aria-label="Next" tabindex="0">
				<svg aria-hidden="true" class="icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 14 21"><path d="M3.297 0L14 10.5 3.297 21 0 17.766 7.407 10.5 0 3.234z" fill="#FFF" fill-rule="evenodd"/></svg>
			</button>
			<button class="carousel__nav-play-pause" aria-label="Pause carousel" tabindex="0">
				<svg aria-hidden="true" class="icon" data-icon="play" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path fill="#FFF" d="M424.4 214.7L72.4 6.6C43.8-10.3 0 6.1 0 47.9V464c0 37.5 40.7 60.1 72.4 41.3l352-208c31.4-18.5 31.5-64.1 0-82.6z"/></svg>
				<svg aria-hidden="true" class="icon" data-icon="pause" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512"><path fill="#FFF" d="M144 479H48c-26.5 0-48-21.5-48-48V79c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v352c0 26.5-21.5 48-48 48zm304-48V79c0-26.5-21.5-48-48-48h-96c-26.5 0-48 21.5-48 48v352c0 26.5 21.5 48 48 48h96c26.5 0 48-21.5 48-48z"/></svg>
			</button>
		</div>
	</div>
	<div class="home-hero__ctas">
		<ul>
			<li><a href="" class="home-hero__cta"><strong class="home-hero__cta-title">Explore</strong><div class="home-hero__cta-description"><div class="home-hero__cta-description-inner"><p>Find Maryland artists, arts organizations, events and opportunities.</p></div></div></a></li>
			<li><a href="" class="home-hero__cta"><strong class="home-hero__cta-title">Promote</strong><div class="home-hero__cta-description"><div class="home-hero__cta-description-inner"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p></div></div></a></li>
			<li><a href="" class="home-hero__cta"><strong class="home-hero__cta-title">Apply</strong><div class="home-hero__cta-description"><div class="home-hero__cta-description-inner"><p>Lorem ipsum animi dolore officiis reprehenderit necessitatibus hic.</p></div></div></a></li>
		</ul>
	</div>
</div>
<div class="home-content-wrap">
	<section class="home-directory-section" aria-labelledby="home-directory-section-heading">
		<div class="outer-pad">
			<div class="silc-grid silc-grid--collapse">
				<div class="silc-grid__col silc-grid__col--6-1024">
					<div class="home-directory-section__content">
						<h2 class="home-directory-section__heading" id="home-directory-section-heading">Maryland Arts Directory</h2>
						<p>Use the directory to find artwork to buy or visit and artists/arts organizations to hire or partner with. Lorem ipsum
														            dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Donec quam felis,
														            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
					</div>
				</div>
				<div class="silc-grid__col silc-grid__col--1-1024 silc-display--none silc-display--block-1024" role="presentation"></div>
				<div class="silc-grid__col silc-grid__col--8-800 silc-grid__col--5-1024 silc-grid__col--4-1440">
					<div class="home-directory-explorer">
						<h3 class="home-directory-explorer__heading">I want to…</h3>
						<form class="home-directory-explorer__form">
							<div class="form-input">
								<select class="home-directory-explorer__dropdown" name="topic" aria-label="Select a topic to explore">
									<option value="/directory/works">Browse Artwork in Maryland</option>
									<option value="/directory/artists">Find an Artist</option>
									<option value="/directory/organizations">Find Arts Organizations and Businesses</option>
									<option value="/directory/districts">Explore Arts &amp; Entertainment Districts</option>
								</select>
							</div>
							<button class="button button--reverse" type="submit">Explore</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="home-directory-section__separator">
			<div role="presentation"></div>
			<div role="presentation"></div>
			<div role="presentation"></div>
			<div role="presentation"></div>
		</div>
	</section>
	<div class="home-news-events">
		<div class="outer-pad">
			<div class="silc-grid silc-grid--collapse">
				<div class="silc-grid__col silc-grid__col--2-1440 silc-display--none silc-display--block-1440" role="presentation"></div>
				<div class="silc-grid__col silc-grid__col--6-1024 silc-grid__col--4-1440 silc-display--flex-1024">
					<div class="home-news-events__feed">
						<h2 class="home-news-events__feed-heading">Arts Calendar</h2>
						<a href="" class="home-news-events__feed-view-all">View All<span class="visible-for-screen-readers">
								Arts Events</span>
							<span aria-hidden="true">&nbsp;&gt;</span>
						</a>
						<div id="home-events-feed-root">
    <home-events-feed />
    <noscript>Please enable Javascript to view arts events across Maryland.</noscript>
</div>					</div>
				</div>
				<div class="silc-grid__col silc-grid__col--1-1440 silc-display--none silc-display--block-1440" role="presentation"></div>
				<div class="silc-grid__col silc-grid__col--6-1024 silc-grid__col--4-1440 silc-display--flex-1024">
					<div class="home-news-events__feed">
						<h2 class="home-news-events__feed-heading">Arts News</h2>
						<a href="" class="home-news-events__feed-view-all">View All<span class="visible-for-screen-readers">
								Arts News</span>
							<span aria-hidden="true">&nbsp;&gt;</span>
						</a>
						<ul class="feed-items">
      <li class="feed-item">
      <a class="feed-item__cta" href="https://idfive.com">
        <h3 class="feed-item__title">News Story Title Lorem Ipsum Dolor Sit Amet Consectetur</h3>
                                  <div class="feed-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</div>
              </a>
    </li>
      <li class="feed-item">
      <a class="feed-item__cta" href="https://idfive.com">
        <h3 class="feed-item__title">News Story Title Lorem Ipsum Dolor Sit Amet Consectetur</h3>
                                  <div class="feed-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</div>
              </a>
    </li>
      <li class="feed-item">
      <a class="feed-item__cta" href="https://idfive.com">
        <h3 class="feed-item__title">News Story Title Lorem Ipsum Dolor Sit Amet Consectetur</h3>
                                  <div class="feed-item__description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget.</div>
              </a>
    </li>
  </ul>					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="home-callouts-section">
		<div class="outer-pad">
			<div class="home-callout-grid">
				<div class="home-callout-grid__item">
					<div class="home-callout-grid__feature" style="background-image:url(../../ /img/home-callout-grid-1.jpg)">
						<div class="home-callout-grid__feature-content">
							<span class="home-callout-grid__feature-category">Theatrical Arts</span>
							<span class="home-callout-grid__feature-title">Arts &amp; Entertainment Districts</span>
						</div>
					</div>
				</div>
				<div class="home-callout-grid__item">
					<div class="home-callout-grid__feature" style="background-image:url(../../ /img/home-callout-grid-2.jpg)">
						<div class="home-callout-grid__feature-content">
							<span class="home-callout-grid__feature-category">Public Arts</span>
							<span class="home-callout-grid__feature-title">Community Arts Development</span>
						</div>
					</div>
				</div>
				<div class="home-callout-grid__item">
					<div class="home-callout-grid__feature" style="background-image:url(../../ /img/home-callout-grid-3.jpg)">
						<div class="home-callout-grid__feature-content">
							<span class="home-callout-grid__feature-category">Literary Arts</span>
							<span class="home-callout-grid__feature-title">Maryland Poet Laureate</span>
						</div>
					</div>
				</div>
				<div class="home-callout-grid__item">
					<div class="home-callout-grid__cta">
						<div class="home-callout-grid__cta-statistic">
							<svg class="icon" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 79 77">
								<g stroke="#EC0000" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M59.912 3.097L36.006 73.903M43.578 3.097L19.673 73.903M76.245 3.097L52.34 73.903M27.245 3.097L3.34 73.903"/></g>
							</svg>
							<p>Nonprofit arts support an annual economic impact of $1.32 billion in Maryland</p>
						</div>
						<div class="home-callout-grid__cta-impact">
							<p>We are proud to support artists, not just in MD but everywhere.</p>
							<a href="" class="button button--white">View Impact of the Arts</a>
						</div>
					</div>
				</div>
				<div class="home-callout-grid__item">
					<div class="home-callout-grid__feature" style="background-image:url(../../ /img/home-callout-grid-4.jpg)">
						<div class="home-callout-grid__feature-content">
							<span class="home-callout-grid__feature-category">Performance Arts</span>
							<span class="home-callout-grid__feature-title">Maryland Presenting &amp; Touring</span>
						</div>
					</div>
				</div>
				<div class="home-callout-grid__item">
					<div class="home-callout-grid__feature" style="background-image:url(../../ /img/home-callout-grid-5.jpg)">
						<div class="home-callout-grid__feature-content">
							<span class="home-callout-grid__feature-category">Funding Arts</span>
							<span class="home-callout-grid__feature-title">Creativity Grants</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="home-footer-cta">
		<div class="outer-pad">
			<div class="silc-grid silc-grid--collapse silc-grid--align-center">
				<div class="silc-grid__col silc-grid__col--1-1200 silc-grid__col--2-1440 silc-display--none silc-display--block-1200"></div>
				<div class="silc-grid__col silc-grid__col--6-1024 silc-grid__col--5-1200">
					<div class="home-footer-cta__content">
						<p>Maryland State Arts Council is an agency of the State of Maryland under the authority of the Department of Commerce,
														            Division of Tourism, Film and the Arts.</p>
						<p>Larry Hogan, Governor | Boyd K. Rutherford, Lieutenant Governor</p>
					</div>
				</div>
				<div class="silc-grid__col silc-grid__col--6-1024 silc-grid__col--5-1200 silc-grid__col--4-1440">
					<div class="home-footer-cta__governors-image">
						<img src="../../img/home-footer-cta-governor.jpg" alt="Photo of Governor Larry Hogan and Lieutenant Governor Boyd K. Rutherford">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	document.body.classList.add("path--home");
</script>

