

<div class="page-heading outer-pad">
	<div class="silc-grid silc-grid--collapse">
		<div class="silc-grid__col silc-grid__col--12">
			<h1>Maryland Touring Grant</h1>
			<nav class="silc-breadcrumb" aria-label="Breadcrumb">
	<ol class="silc-breadcrumb__list">
					<li>
				<a href="http://idfive">Home</a>
			</li>
					<li>
				<a href="http://idfive">Programs</a>
			</li>
					<li>
				<a href="http://idfive">Presenting & Touring</a>
			</li>
					<li>
				<a href="http://idfive" aria-current="page">Maryland Touring Grant</a>
			</li>
			</ol>
</nav>		</div>
	</div>
</div>
<div class="page-content outer-pad">
	<div class="widget-spacing">
		<div class="silc-grid silc-grid--collapse silc-grid--justify-center silc-grid--justify-right-1024 silc-grid--justify-center-1600">
			<div class="silc-grid__col silc-grid__col silc-grid__col--8-1024 silc-grid__col--6-1440">
				
				<div class="text-content">
					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h2>
					<h3>To be eligible:</h3>
					<ul>
						<li>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</li>
						<li>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</li>
						<li>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</li>
					</ul>
				</div>
			</div>
			<div class="silc-grid__col silc-grid__col--10-600 silc-grid__col--8-800 silc-grid__col--4-1024">
				<aside class="aside">
      <h2 class="aside__heading">Quick Resources</h2>
    <div class="aside__content">
          <div class="aside__section">
                <div>
          <p><a href="sample.pdf">Download Full Guidelines</a></p>
        </div>
      </div>
          <div class="aside__section">
                  <h3 class="aside__section-heading">For…</h3>
                <div>
          <ul><li><a href=""Nonprofits & Government</a></li><li><a href="">Schools & Universities</a></li><li><a href="">County Arts Councils</a></li><li><a href="">A&E Districts</a></li></ul>
        </div>
      </div>
          <div class="aside__section">
                  <h3 class="aside__section-heading">Funding Amount</h3>
                <div>
          <p>$500-$3,500</p>
        </div>
      </div>
          <div class="aside__section">
                  <h3 class="aside__section-heading">Deadlines</h3>
                <div>
          <p>4/27/2018</p>
        </div>
      </div>
          <div class="aside__section">
                <div>
          <a class="button" href="">Apply Now</a>
        </div>
      </div>
      </div>
</aside>			</div>
		</div>
	</div>
	<div class="widget-spacing">
		<div class="silc-grid silc-grid--collapse silc-grid--justify-center">
			<div class="silc-grid__col silc-grid__col--12">
				
				<div>
					<div class="silc-accordion" id="accordion-0" data-silc-accordion-animated>
			<div class="silc-accordion__section">
			<button id="accordion-0-section-1-label" class="silc-accordion__label" aria-controls="accordion-0-section-1-content">
				Before You Apply
				<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g></svg>
			</button>
			<div class="silc-accordion__content" id="accordion-0-section-1-content" aria-labelledby="accordion-0-section-1-label">
				<div class="silc-accordion__content-compartment text-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
			<div class="silc-accordion__section">
			<button id="accordion-0-section-2-label" class="silc-accordion__label" aria-controls="accordion-0-section-2-content">
				Application Process
				<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g></svg>
			</button>
			<div class="silc-accordion__content" id="accordion-0-section-2-content" aria-labelledby="accordion-0-section-2-label">
				<div class="silc-accordion__content-compartment text-content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quos quidem corporis. Odit harum facilis delectus consequuntur accusantium neque quisquam distinctio corrupti atque? Illum repellat incidunt cupiditate deserunt atque voluptas?</p><p>Tempora ullam similique ipsum error hic sed rem, consectetur eos iste minima! Quos inventore ad quasi pariatur itaque deleniti molestias officia quam! Dolore saepe rerum qui suscipit adipisci quae nisi?</p>
				</div>
			</div>
		</div>
			<div class="silc-accordion__section">
			<button id="accordion-0-section-3-label" class="silc-accordion__label" aria-controls="accordion-0-section-3-content">
				Receiving Funding
				<svg class="silc-accordion__label-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g fill-rule="evenodd"><path d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12 5.373 0 12 0zm0 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10S17.523 2 12 2z"/><path d="M10.907 6v4.908H6v2.185h4.907V18h2.185v-4.907H18v-2.185h-4.908V6z"/></g></svg>
			</button>
			<div class="silc-accordion__content" id="accordion-0-section-3-content" aria-labelledby="accordion-0-section-3-label">
				<div class="silc-accordion__content-compartment text-content">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis beatae ut sunt architecto optio error modi explicabo, sint harum hic impedit. Nam, sequi consequatur quisquam a nobis perspiciatis reiciendis odit!</p><p>Eum nesciunt distinctio reprehenderit inventore porro deserunt ipsam illum accusantium necessitatibus vitae, iusto culpa excepturi facilis reiciendis nobis perspiciatis in error sed quas possimus aliquam earum dolore. Deleniti, libero sunt.</p>
				</div>
			</div>
		</div>
	</div>

					<div class="widget-spacing">
						<div class="silc-grid silc-grid--collapse silc-grid--justify-center">
							<div class="silc-grid__col silc-grid__col--10-800 silc-grid__col--8-1200">
								<div class="editor-widget text-content">
									<h2>Resources</h2>
									<ul class="unstyled-list">
										<li>
											<a href="sample.pdf">Resource Name…Lorem Ipsum Dolor Sit Amet</a>
										</li>
										<li>
											<a href="sample.pdf">Resource Name…Lorem Ipsum Dolor Sit Amet</a>
										</li>
										<li>
											<a href="sample.pdf">Resource Name…Lorem Ipsum Dolor Sit Amet</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<ul class="program-contacts">
													<li class="program-contacts__item">
								<div class="program-contact">
  <div class="program-contact__top">
    <div class="program-contact__photo">
      <img src="../../img/IG_Program_Contact_1.jpg" alt="Photo of Ken Skrzesz">
    </div>
    <div class="program-contact__heading">Contact</div>
  </div>
  <div class="program-contact__content">
    <p class="program-contact__name">Ken Skrzesz</p>
    <p class="program-contact__title">Executive Director</p>
    <ul class="program-contact__contact-methods">
              <li class="program-contact__contact-method">
          <span class="icon-circle">
            <svg class="mail-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12"><path d="M14 3.55c-.234.258-.5.485-.781.68a149.632 149.632 0 00-3.89 2.699c-.657.485-1.47 1.079-2.321 1.079h-.016c-.851 0-1.664-.594-2.32-1.08-1.274-.93-2.586-1.814-3.883-2.697A4.37 4.37 0 010 3.55V9.76c0 .688.563 1.251 1.25 1.251h11.5c.688 0 1.25-.563 1.25-1.251V3.55zm0-2.299A1.26 1.26 0 0012.75 0H1.25C.414 0 0 .657 0 1.423c0 .712.79 1.596 1.344 1.971 1.21.845 2.437 1.69 3.648 2.542.508.352 1.367 1.071 2 1.071h.016c.633 0 1.492-.72 2-1.071 1.21-.853 2.437-1.697 3.656-2.542C13.352 2.917 14 2.127 14 1.251z" fill="#FFF" fill-rule="evenodd"/></svg>
          </span>
          <a href="mailto:kenneth.skrzesz1@maryland.gov">kenneth.skrzesz1@maryland.gov</a>
        </li>
                    <li class="program-contact__contact-method">
          <span class="icon-circle">
            <svg class="phone-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M13.2 10.8C12 12 12 13.2 10.8 13.2S8.4 12 7.2 10.8C6 9.6 4.8 8.4 4.8 7.2 4.8 6 6 6 7.2 4.8S4.8 0 3.6 0C2.4 0 0 3.6 0 3.6c0 2.4 2.466 7.266 4.8 9.6C7.134 15.534 12 18 14.4 18c0 0 3.6-2.4 3.6-3.6 0-1.2-3.6-4.8-4.8-3.6z" fill="#FFF" fill-rule="nonzero"/></svg>
          </span>
          <a href="tel:410-767-7962">410-767-7962</a>
        </li>
          </ul>
  </div>
</div>							</li>
													<li class="program-contacts__item">
								<div class="program-contact">
  <div class="program-contact__top">
    <div class="program-contact__photo">
      <img src="../../img/IG_Program_Contact_2.jpg" alt="Photo of Jane Smith">
    </div>
    <div class="program-contact__heading">Contact</div>
  </div>
  <div class="program-contact__content">
    <p class="program-contact__name">Jane Smith</p>
    <p class="program-contact__title">Title Here</p>
    <ul class="program-contact__contact-methods">
              <li class="program-contact__contact-method">
          <span class="icon-circle">
            <svg class="mail-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12"><path d="M14 3.55c-.234.258-.5.485-.781.68a149.632 149.632 0 00-3.89 2.699c-.657.485-1.47 1.079-2.321 1.079h-.016c-.851 0-1.664-.594-2.32-1.08-1.274-.93-2.586-1.814-3.883-2.697A4.37 4.37 0 010 3.55V9.76c0 .688.563 1.251 1.25 1.251h11.5c.688 0 1.25-.563 1.25-1.251V3.55zm0-2.299A1.26 1.26 0 0012.75 0H1.25C.414 0 0 .657 0 1.423c0 .712.79 1.596 1.344 1.971 1.21.845 2.437 1.69 3.648 2.542.508.352 1.367 1.071 2 1.071h.016c.633 0 1.492-.72 2-1.071 1.21-.853 2.437-1.697 3.656-2.542C13.352 2.917 14 2.127 14 1.251z" fill="#FFF" fill-rule="evenodd"/></svg>
          </span>
          <a href="mailto:jane.smith@maryland.gov">jane.smith@maryland.gov</a>
        </li>
                    <li class="program-contact__contact-method">
          <span class="icon-circle">
            <svg class="phone-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><path d="M13.2 10.8C12 12 12 13.2 10.8 13.2S8.4 12 7.2 10.8C6 9.6 4.8 8.4 4.8 7.2 4.8 6 6 6 7.2 4.8S4.8 0 3.6 0C2.4 0 0 3.6 0 3.6c0 2.4 2.466 7.266 4.8 9.6C7.134 15.534 12 18 14.4 18c0 0 3.6-2.4 3.6-3.6 0-1.2-3.6-4.8-4.8-3.6z" fill="#FFF" fill-rule="nonzero"/></svg>
          </span>
          <a href="tel:410-767-7962">410-767-7962</a>
        </li>
          </ul>
  </div>
</div>							</li>
											</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="page-background" role="presentation" style="background-image:url(../../img/individual-grant-sketch-bg.png)"></div>
<div class="footer-cta related-grants outer-pad">
	<div class="silc-grid silc-grid--collapse silc-grid--justify-center">
		<div class="silc-grid__col silc-grid__col--12">
			<h2 class="footer-cta__heading">Similar Funding Opportunities</h2>
			<ul class="silc-grid silc-grid--collapse silc-grid--justify-center">
									<li class="silc-grid__col silc-grid__col--10-550 silc-grid__col--6-1200">
						<div class="card card--hz" data-clickable="true">
	<div class="card__media">
		<img src="../../img/IG_Related_Grant_1.jpg" alt="">
	</div>
	<div class="card__content">
		<div class="card__content-icon-lines" role="presentation">
			<div></div>
			<div></div>
		</div>
		<h2 class="card__title">Creativity Grant</h2>
											<a href="https://idfive.com" class="card__cta button">Learn More</a>
						</div>
</div>					</li>
									<li class="silc-grid__col silc-grid__col--10-550 silc-grid__col--6-1200">
						<div class="card card--hz" data-clickable="true">
	<div class="card__media">
		<img src="../../img/IG_Related_Grant_2.jpg" alt="">
	</div>
	<div class="card__content">
		<div class="card__content-icon-lines" role="presentation">
			<div></div>
			<div></div>
		</div>
		<h2 class="card__title">Folklife Project Grant</h2>
											<a href="https://idfive.com" class="card__cta button">Learn More</a>
						</div>
</div>					</li>
							</ul>
		</div>
	</div>
</div>


<script>
	document.body.classList.add("grant");
</script>

