

<div class="multilevel-taxonomy-select-root">
	<multilevel-taxonomy-select parent-name="discipline" child-name="subdiscipline">
		<div id="edit-field-artist-artistic-categories" class="form-checkboxes">
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-131 js-form-item-field-artist-artistic-categories-131">
				<input data-drupal-selector="edit-field-artist-artistic-categories-131" type="checkbox" id="edit-field-artist-artistic-categories-131" name="field_artist_artistic_categories[131]" value="131" checked="checked" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-131" class="option">Performance</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-132 js-form-item-field-artist-artistic-categories-132">
				<input data-drupal-selector="edit-field-artist-artistic-categories-132" type="checkbox" id="edit-field-artist-artistic-categories-132" name="field_artist_artistic_categories[132]" value="132" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-132" class="option">-Dance</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-666 js-form-item-field-artist-artistic-categories-666">
				<input data-drupal-selector="edit-field-artist-artistic-categories-666" type="checkbox" id="edit-field-artist-artistic-categories-666" name="field_artist_artistic_categories[666]" value="666" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-666" class="option">--Interpretive Dance</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-133 js-form-item-field-artist-artistic-categories-133">
				<input data-drupal-selector="edit-field-artist-artistic-categories-133" type="checkbox" id="edit-field-artist-artistic-categories-133" name="field_artist_artistic_categories[133]" value="133" checked="checked" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-133" class="option">-Theatre</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-134 js-form-item-field-artist-artistic-categories-134">
				<input data-drupal-selector="edit-field-artist-artistic-categories-134" type="checkbox" id="edit-field-artist-artistic-categories-134" name="field_artist_artistic_categories[134]" value="134" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-134" class="option">-Music/Sound</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-135 js-form-item-field-artist-artistic-categories-135">
				<input data-drupal-selector="edit-field-artist-artistic-categories-135" type="checkbox" id="edit-field-artist-artistic-categories-135" name="field_artist_artistic_categories[135]" value="135" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-135" class="option">-Performance Art</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-136 js-form-item-field-artist-artistic-categories-136">
				<input data-drupal-selector="edit-field-artist-artistic-categories-136" type="checkbox" id="edit-field-artist-artistic-categories-136" name="field_artist_artistic_categories[136]" value="136" checked="checked" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-136" class="option">Visual/Media</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-137 js-form-item-field-artist-artistic-categories-137">
				<input data-drupal-selector="edit-field-artist-artistic-categories-137" type="checkbox" id="edit-field-artist-artistic-categories-137" name="field_artist_artistic_categories[137]" value="137" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-137" class="option">-Sculpture/Installation</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-138 js-form-item-field-artist-artistic-categories-138">
				<input data-drupal-selector="edit-field-artist-artistic-categories-138" type="checkbox" id="edit-field-artist-artistic-categories-138" name="field_artist_artistic_categories[138]" value="138" checked="checked" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-138" class="option">-Drawing</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-139 js-form-item-field-artist-artistic-categories-139">
				<input data-drupal-selector="edit-field-artist-artistic-categories-139" type="checkbox" id="edit-field-artist-artistic-categories-139" name="field_artist_artistic_categories[139]" value="139" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-139" class="option">-Painting</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-140 js-form-item-field-artist-artistic-categories-140">
				<input data-drupal-selector="edit-field-artist-artistic-categories-140" type="checkbox" id="edit-field-artist-artistic-categories-140" name="field_artist_artistic_categories[140]" value="140" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-140" class="option">-Fiber</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-141 js-form-item-field-artist-artistic-categories-141">
				<input data-drupal-selector="edit-field-artist-artistic-categories-141" type="checkbox" id="edit-field-artist-artistic-categories-141" name="field_artist_artistic_categories[141]" value="141" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-141" class="option">-Public Art</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-142 js-form-item-field-artist-artistic-categories-142">
				<input data-drupal-selector="edit-field-artist-artistic-categories-142" type="checkbox" id="edit-field-artist-artistic-categories-142" name="field_artist_artistic_categories[142]" value="142" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-142" class="option">-Design/Digital</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-143 js-form-item-field-artist-artistic-categories-143">
				<input data-drupal-selector="edit-field-artist-artistic-categories-143" type="checkbox" id="edit-field-artist-artistic-categories-143" name="field_artist_artistic_categories[143]" value="143" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-143" class="option">-Ceramic</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-144 js-form-item-field-artist-artistic-categories-144">
				<input data-drupal-selector="edit-field-artist-artistic-categories-144" type="checkbox" id="edit-field-artist-artistic-categories-144" name="field_artist_artistic_categories[144]" value="144" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-144" class="option">-Paper/Book/Illustration</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-145 js-form-item-field-artist-artistic-categories-145">
				<input data-drupal-selector="edit-field-artist-artistic-categories-145" type="checkbox" id="edit-field-artist-artistic-categories-145" name="field_artist_artistic_categories[145]" value="145" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-145" class="option">-Multimedia</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-146 js-form-item-field-artist-artistic-categories-146">
				<input data-drupal-selector="edit-field-artist-artistic-categories-146" type="checkbox" id="edit-field-artist-artistic-categories-146" name="field_artist_artistic_categories[146]" value="146" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-146" class="option">-Photography</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-147 js-form-item-field-artist-artistic-categories-147">
				<input data-drupal-selector="edit-field-artist-artistic-categories-147" type="checkbox" id="edit-field-artist-artistic-categories-147" name="field_artist_artistic_categories[147]" value="147" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-147" class="option">-Printmaking</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-148 js-form-item-field-artist-artistic-categories-148">
				<input data-drupal-selector="edit-field-artist-artistic-categories-148" type="checkbox" id="edit-field-artist-artistic-categories-148" name="field_artist_artistic_categories[148]" value="148" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-148" class="option">-Animation/Video/Film</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-149 js-form-item-field-artist-artistic-categories-149">
				<input data-drupal-selector="edit-field-artist-artistic-categories-149" type="checkbox" id="edit-field-artist-artistic-categories-149" name="field_artist_artistic_categories[149]" value="149" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-149" class="option">-Craft</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-150 js-form-item-field-artist-artistic-categories-150">
				<input data-drupal-selector="edit-field-artist-artistic-categories-150" type="checkbox" id="edit-field-artist-artistic-categories-150" name="field_artist_artistic_categories[150]" value="150" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-150" class="option">-Jewelry</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-151 js-form-item-field-artist-artistic-categories-151">
				<input data-drupal-selector="edit-field-artist-artistic-categories-151" type="checkbox" id="edit-field-artist-artistic-categories-151" name="field_artist_artistic_categories[151]" value="151" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-151" class="option">Literary</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-152 js-form-item-field-artist-artistic-categories-152">
				<input data-drupal-selector="edit-field-artist-artistic-categories-152" type="checkbox" id="edit-field-artist-artistic-categories-152" name="field_artist_artistic_categories[152]" value="152" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-152" class="option">-Poetry</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-153 js-form-item-field-artist-artistic-categories-153">
				<input data-drupal-selector="edit-field-artist-artistic-categories-153" type="checkbox" id="edit-field-artist-artistic-categories-153" name="field_artist_artistic_categories[153]" value="153" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-153" class="option">-Prose</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-154 js-form-item-field-artist-artistic-categories-154">
				<input data-drupal-selector="edit-field-artist-artistic-categories-154" type="checkbox" id="edit-field-artist-artistic-categories-154" name="field_artist_artistic_categories[154]" value="154" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-154" class="option">-Fiction</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-155 js-form-item-field-artist-artistic-categories-155">
				<input data-drupal-selector="edit-field-artist-artistic-categories-155" type="checkbox" id="edit-field-artist-artistic-categories-155" name="field_artist_artistic_categories[155]" value="155" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-155" class="option">-Non-Fiction</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-156 js-form-item-field-artist-artistic-categories-156">
				<input data-drupal-selector="edit-field-artist-artistic-categories-156" type="checkbox" id="edit-field-artist-artistic-categories-156" name="field_artist_artistic_categories[156]" value="156" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-156" class="option">-Drama</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-157 js-form-item-field-artist-artistic-categories-157">
				<input data-drupal-selector="edit-field-artist-artistic-categories-157" type="checkbox" id="edit-field-artist-artistic-categories-157" name="field_artist_artistic_categories[157]" value="157" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-157" class="option">-Graphic</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-158 js-form-item-field-artist-artistic-categories-158">
				<input data-drupal-selector="edit-field-artist-artistic-categories-158" type="checkbox" id="edit-field-artist-artistic-categories-158" name="field_artist_artistic_categories[158]" value="158" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-158" class="option">-Experimental</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-159 js-form-item-field-artist-artistic-categories-159">
				<input data-drupal-selector="edit-field-artist-artistic-categories-159" type="checkbox" id="edit-field-artist-artistic-categories-159" name="field_artist_artistic_categories[159]" value="159" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-159" class="option">Multidisciplinary</label>
			</div>
			<div class="js-form-item form-item js-form-type-checkbox form-item-field-artist-artistic-categories-195 js-form-item-field-artist-artistic-categories-195">
				<input data-drupal-selector="edit-field-artist-artistic-categories-195" type="checkbox" id="edit-field-artist-artistic-categories-195" name="field_artist_artistic_categories[195]" value="195" class="form-checkbox" tabindex="-1">
				<label for="edit-field-artist-artistic-categories-195" class="option">-Multidisciplinary Art</label>
			</div>
		</div>
	</multilevel-taxonomy-select>
</div>

