.calendar {
  background-color: $white;
  border: rem(4) solid $yellow;
  margin: rem(24) auto 0;
  padding: rem(42) rem(26) rem(20);
  position: relative;
  width: 100%;
  @include media("800") {
    padding: rem(48) rem(56) rem(32);
  }
}

.calendar__month-name {
  background-color: $yellow;
  color: $black;
  display: inline-block;
  font-family: $red-hat-display;
  font-size: rem(16);
  font-weight: 700;
  letter-spacing: em(2.45, 16);
  line-height: (21 / 16);
  padding: rem(12) rem(40) rem(11);
  position: absolute;
  top: rem(-4);
  left: rem(-4);
  text-transform: uppercase;
  transform: translateY(-50%);
  white-space: nowrap;
  @include media("800") {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.calendar__arrow {
  appearance: none;
  border: none;
  cursor: pointer;
  padding: 0;
  pointer-events: initial;
  position: absolute;
  top: rem(-4);
  width: rem(44);
  height: rem(44);
  background-color: $black;
  transition: 0.3s background-color ease-in-out;
  transform: translateY(-50%);
  @include media("800") {
    top: 50%;
  }
  &:hover {
    background-color: $red;
    border: none;
  }
  &::after {
    content: "";
    width: rem(13);
    height: rem(13);
    border-top: rem(4) solid $white;
    border-left: rem(4) solid $white;
    position: absolute;
    top: 50%;
  }
}

.calendar__arrow--previous {
  right: rem(42);
  @include media("800") {
    left: rem(-4);
    right: auto;
  }
  &::after {
    left: 55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.calendar__arrow--next {
  right: rem(-4);
  &::after {
    left: 45%;
    transform: translate(-50%, -50%) rotate(135deg);
  }
}

.calendar__date-range-controls {
  display: flex;
  margin-bottom: rem(20);
  > div {
    flex: 1 1 0px;
    &:first-child {
      margin-right: rem(1.5);
    }
    &:last-child {
      margin-left: rem(1.5);
    }
  }
  .form-label {
    text-align: center;
  }
}
.calendar__manual-input{
    margin: 0;
  padding: rem(8) rem(12);
  width: 100%;
  border: .16667em solid #ec0000;
  appearance: none;
  background: transparent;
  color: #ec0000;
  font-family: Red Hat Display, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  height: 3.5rem;
  letter-spacing: .11111em;
  line-height: 1.27778;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .25s ease-in-out, border-color .25s ease-in-out, color .25s ease-in-out;
}
.calendar__date-range-control.button {
  margin: 0;
  padding: rem(8) rem(12);
  width: 100%;
  &.calendar__date-range-control--active {
    background-color: $red;
    color: $white;
    &:hover,
    &:focus {
      background-color: $red;
      color: $white;
    }
  }
}

.calendar__weekday-labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: rem(20);
}

.calendar__weekday-label {
  color: $black;
  font-family: $red-hat-display;
  font-size: rem(16);
  font-weight: 700;
  flex: 0 0 auto;
  line-height: (20 / 16);
  text-align: center;
  text-transform: uppercase;
  width: rem(32);
}

.calendar__week {
  display: flex;
  justify-content: space-between;
}

.calendar__day-wrapper {
  margin-bottom: rem(2);
}

.calendar__day {
  align-items: center;
  appearance: none;
  background: transparent;
  border: none;
  display: flex;
  font-family: $red-hat-text;
  font-size: rem(18);
  font-weight: 400;
  height: rem(31);
  width: rem(31);
  justify-content: center;
  line-height: (26 / 14);
  margin: 0 auto;
  padding: 0;
  .calendar:not(.calendar--editing) & {
    cursor: default;
    &:focus {
      outline: none;
    }
  }
  .calendar.calendar--editing & {
    &:disabled {
      cursor: not-allowed;
    }
    &:not(.calendar__day--padding):not(:disabled) {
      cursor: pointer;
    }
  }
  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.calendar__day--active {
  background-color: $red;
  color: $white;
  font-weight: 700;
}

.calendar__day--in-range {
  opacity: 0.5;
}
