$silc-breadcrumb-margin: 0;
$silc-breadcrumb-padding: 0;
$silc-breadcrumb-seperator: ">";
$silc-breadcrumb-link-color: $dark-red;
$silc-breadcrumb-border-color: $dark-red;
$silc-breadcrumb-font-weight: 400;
