<div class="page-heading outer-pad" style="background-image:url({{ hero|path }})">
	<div class="silc-grid silc-grid--collapse">
		<div class="silc-grid__col silc-grid__col--12">
			<h1>{{ title }}</h1>
			{% include "@breadcrumb" with breadcrumb %}
		</div>
    <div class="silc-grid__col silc-grid__col--6-800">
      <div class="page-heading__lead-in">
        <p>Find your favorite arts experience. Discover something new.</p>
      </div>
    </div>
    <div class="silc-grid__col silc-grid__col--6-800">
      <div class="page-heading__content">
        <p>Whether you're visiting our state or looking for activities for you or your family, Maryland has a wealth of arts experiences waiting for you. Use our map to find public art, arts venues, and Arts &amp; Entertainment Districts to explore. Visit linked websites or MSAC's <a href="">Events Calendar</a> for date-specific events.</p>
      </div>
    </div>
	</div>
</div>
<div class="page-content outer-pad">
  {% include "@arts-explorer" %}
</div>
<div class="page-background" role="presentation" style="background-image:url({{ background|path }})"></div>

{# FOR DEV ONLY #}
<script>
  document.body.classList.add("path--explore");
  document.body.classList.add("has-hero");
</script>
