<div class="featured-audio">
  <ul class="profile__works-list">
    {% for row in rows %}
      <li class="profile__works-list-item">
        {{ row.content }}
      </li>
    {% endfor %}
  </ul>
</div>